major_call_wcf/Service References/wcf_major/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="AddSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file_data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file_sig" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="signerName" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSignResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file_data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file_sig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_sig" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="signerName" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSignDateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file_data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file_sig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyMsgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlCompare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceXmlFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changedXmlFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlCompareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="XmlCompareResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>