major_call_wcf/Service References/wcf_major/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MajorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMajorService_AddSign_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSign" />
  </wsdl:message>
  <wsdl:message name="IMajorService_AddSign_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSignResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorService_AddSignDate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSignDate" />
  </wsdl:message>
  <wsdl:message name="IMajorService_AddSignDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSignDateResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorService_VerifyMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMsg" />
  </wsdl:message>
  <wsdl:message name="IMajorService_VerifyMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorService_XmlCompare_InputMessage">
    <wsdl:part name="parameters" element="tns:XmlCompare" />
  </wsdl:message>
  <wsdl:message name="IMajorService_XmlCompare_OutputMessage">
    <wsdl:part name="parameters" element="tns:XmlCompareResponse" />
  </wsdl:message>
  <wsdl:portType name="IMajorService">
    <wsdl:operation name="AddSign">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorService/AddSign" message="tns:IMajorService_AddSign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorService/AddSignResponse" message="tns:IMajorService_AddSign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSignDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorService/AddSignDate" message="tns:IMajorService_AddSignDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorService/AddSignDateResponse" message="tns:IMajorService_AddSignDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorService/VerifyMsg" message="tns:IMajorService_VerifyMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorService/VerifyMsgResponse" message="tns:IMajorService_VerifyMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XmlCompare">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorService/XmlCompare" message="tns:IMajorService_XmlCompare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorService/XmlCompareResponse" message="tns:IMajorService_XmlCompare_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMajorService" type="tns:IMajorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSign">
      <soap:operation soapAction="http://tempuri.org/IMajorService/AddSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSignDate">
      <soap:operation soapAction="http://tempuri.org/IMajorService/AddSignDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyMsg">
      <soap:operation soapAction="http://tempuri.org/IMajorService/VerifyMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlCompare">
      <soap:operation soapAction="http://tempuri.org/IMajorService/XmlCompare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MajorService">
    <wsdl:port name="BasicHttpBinding_IMajorService" binding="tns:BasicHttpBinding_IMajorService">
      <soap:address location="http://server-edo:9733/major_wcf/MajorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>