web_client_usdep/Views/xsd/RequestDeposits.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="RequestDeposit" nillable="true" type="RequestDeposits" />
  <xs:complexType name="RequestDeposits">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Guid" type="guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DuNumDate" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ClientId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="PortfolioId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="RubricaOut" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="KoId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FilialId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValueTypes" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="DepositSum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DepositCurrency" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SettlementCurrency" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BalanceMin" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DepositDogNum" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DepositDogDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgreementContractNum" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AgreementContractDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChangesDogDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerminationDogDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContributionType" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="DepositDogDateEnd" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DepositAccount" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransferDateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContributionDogType" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="RateValue" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PercentPeriods" type="ArrayOfPercentPeriods" />
      <xs:element minOccurs="1" maxOccurs="1" name="PeriodPayment" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="PeriodsInterestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DepositSubordinated" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountReturn" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="KoAccountOpen" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExistenceContractConditions" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="NoExistenceContractConditions" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorizedPersonFIO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorizedPersonPost" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RequestStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequestNum" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequestDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentCollections" type="ArrayOfDocumentCollections" />
      <xs:element minOccurs="1" maxOccurs="1" name="RequestId" nillable="true" type="guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="CommentCD" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChildCat" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Operation" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Request" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPercentPeriods">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PercentPeriods" nillable="true" type="PercentPeriods" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PercentPeriods">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="PercentRate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDocumentCollections">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentCollections" nillable="true" type="DocumentCollections" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentCollections">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DocName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>